In [1]:
import pandas as pd

In [2]:
data = {
    'Product': ['Laptop', 'T-Shirt', 'Coffee Maker', 'Sneakers', 'Smartphone', 
                'Blender', 'Headphones', 'Jeans', 'Microwave', 'Smart Watch'],
    'Category': ['Electronics', 'Clothing', 'Home', 'Clothing', 'Electronics', 
                 'Home', 'Electronics', 'Clothing', 'Home', 'Electronics'],
    'Price': [1200.00, 25.50, 85.00, 110.00, 950.00, 
              45.99, 150.00, 60.00, 120.00, 250.00],
    'Quantity': [2, 15, 5, 8, 3, 10, 25, 12, 4, 7],
    'Rating': [4.8, 4.2, 4.5, 4.7, 4.6, 3.9, 4.3, 4.1, 4.0, 4.4]
}

df = pd.DataFrame(data)

In [3]:
df

        Product     Category    Price  Quantity  Rating
0        Laptop  Electronics  1200.00         2     4.8
1       T-Shirt     Clothing    25.50        15     4.2
2  Coffee Maker         Home    85.00         5     4.5
3      Sneakers     Clothing   110.00         8     4.7
4    Smartphone  Electronics   950.00         3     4.6
5       Blender         Home    45.99        10     3.9
6    Headphones  Electronics   150.00        25     4.3
7         Jeans     Clothing    60.00        12     4.1
8     Microwave         Home   120.00         4     4.0
9   Smart Watch  Electronics   250.00         7     4.4

In [9]:
df.shape

(10, 5)

In [18]:
df = df.sample(frac=0.5)

In [19]:
df

       Product     Category   Price  Quantity  Rating
6   Headphones  Electronics   150.0        25     4.3
9  Smart Watch  Electronics   250.0         7     4.4
0       Laptop  Electronics  1200.0         2     4.8
3     Sneakers     Clothing   110.0         8     4.7
7        Jeans     Clothing    60.0        12     4.1

In [26]:
df.reset_index(drop=True,inplace=True)

In [28]:
df.reset_index(drop=True)

   index      Product     Category   Price  Quantity  Rating
0      0   Headphones  Electronics   150.0        25     4.3
1      1  Smart Watch  Electronics   250.0         7     4.4
2      2       Laptop  Electronics  1200.0         2     4.8
3      3     Sneakers     Clothing   110.0         8     4.7
4      4        Jeans     Clothing    60.0        12     4.1

In [29]:
df.drop(columns=['index'], inplace=True)

In [30]:
df

       Product     Category   Price  Quantity  Rating
0   Headphones  Electronics   150.0        25     4.3
1  Smart Watch  Electronics   250.0         7     4.4
2       Laptop  Electronics  1200.0         2     4.8
3     Sneakers     Clothing   110.0         8     4.7
4        Jeans     Clothing    60.0        12     4.1

In [33]:
df['Quantity_1000'] = df['Quantity'].apply(lambda x: x * 1000)

In [34]:
df

       Product     Category   Price  Quantity  Rating  Quantity_1000
0   Headphones  Electronics   150.0        25     4.3          25000
1  Smart Watch  Electronics   250.0         7     4.4           7000
2       Laptop  Electronics  1200.0         2     4.8           2000
3     Sneakers     Clothing   110.0         8     4.7           8000
4        Jeans     Clothing    60.0        12     4.1          12000

In [36]:
df.describe()

             Price   Quantity    Rating  Quantity_1000
count     5.000000   5.000000  5.000000       5.000000
mean    354.000000  10.800000  4.460000   10800.000000
std     478.048115   8.700575  0.288097    8700.574694
min      60.000000   2.000000  4.100000    2000.000000
25%     110.000000   7.000000  4.300000    7000.000000
50%     150.000000   8.000000  4.400000    8000.000000
75%     250.000000  12.000000  4.700000   12000.000000
max    1200.000000  25.000000  4.800000   25000.000000

In [38]:
df.select_rows()

AttributeError: 'DataFrame' object has no attribute 'select_rows'

In [40]:
df.loc[1]

Product          Smart Watch
Category         Electronics
Price                  250.0
Quantity                   7
Rating                   4.4
Quantity_1000           7000
Name: 1, dtype: object

In [41]:
df

       Product     Category   Price  Quantity  Rating  Quantity_1000
0   Headphones  Electronics   150.0        25     4.3          25000
1  Smart Watch  Electronics   250.0         7     4.4           7000
2       Laptop  Electronics  1200.0         2     4.8           2000
3     Sneakers     Clothing   110.0         8     4.7           8000
4        Jeans     Clothing    60.0        12     4.1          12000

In [43]:
df.iloc[2,1]

'Electronics'

In [45]:
df.loc[2]

Product               Laptop
Category         Electronics
Price                 1200.0
Quantity                   2
Rating                   4.8
Quantity_1000           2000
Name: 2, dtype: object